**/bin/
**/obj/
**/node_modules/
**/.angular/
**/dist/
.env
.vs/
.vscode/*.local.json
*.user
.dotnet/
.dotnet-home/
.dotnet-cli-home/
.checkpoints/
.logs/
dotnet-install.ps1
.nuget/
.node/
node-portable.zip
.npm-cache/
